<nav class="container">
    @for (item of empleados.personajes; track item) {
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">ID: <span class="card-id">{{ item.id }}</span></h4>
              <h4 class="card-title">Nombre: <span class="card-name">{{ item.name }}</span></h4>
              <p class="card-text">Descripcion: <span class="card-description">{{item.description}}</span></p>
              <p class="card-text">Atributo: <span class="card-atributo">{{item.atributos[1]}}</span></p>
            </div>
          </div>
        }
        
</nav>

