<div class="container">
    <form (ngSubmit)="editar( formulario )" #formulario="ngForm">
        <label for="">Ingresar url</label>
        <input type="text" name="imagen" [(ngModel)]="motos.imagen" class="form-control">
        <br>
        <label for="">Ingresar ID</label>
        <input type="text" name="id" [(ngModel)]="id" class="form-control">
        <br>
        <label for="">Ingresar la placa</label>
        <input type="text" name="placa_id" [(ngModel)]="motos.placa" class="form-control">
        <br>
        <label for="">Ingresar el precio de la moto</label>
        <input type="text" name="precio" [(ngModel)]="motos.precio" class="form-control">
        <br>
        <label for="">Ingresar el nuevo Año</label>
        <input type="text" name="anio" [(ngModel)]="motos.anio" class="form-control">
        <br>

        <button type="submit">Guardar</button>
    </form>
</div>